
*.suo
*.user

/.vs
/packages

/BizComponents/obj
/BizComponents/bin

/BizServices/obj
/BizServices/bin

/Components/bin
/Components/obj

/ElementComponents/bin
/ElementComponents/obj

/ElementFramework/bin
/ElementFramework/obj

/ElementFramework.Extensions/bin
/ElementFramework.Extensions/obj

/ElementFramework.Oracle/bin
/ElementFramework.Oracle/obj

/ElementFramework.MySQL/bin
/ElementFramework.MySQL/obj

/ElementServices/obj
/ElementServices/bin

/WebApi.Oracle/bin
/WebApi.Oracle/obj

/WebApp/.vs
/WebApp/packages

/WebApp/Web.Components/obj
/WebApp/Web.Components/bin

/WebApp/Web.Extensions/obj
/WebApp/Web.Extensions/bin

/WebApp/WebApp/obj
/WebApp/WebApp/bin
/WebApp/WebApp/log

/WpfClient/.vs

/WpfClient/Client.Common/bin
/WpfClient/Client.Common/obj

/WpfClient/Client.Components/obj
/WpfClient/Client.Components/bin

/WpfClient/Client.Services/obj
/WpfClient/Client.Services/bin

/WpfClient/Windows.Components/obj
/WpfClient/Windows.Components/bin

/WpfClient/WpfClient/obj
/WpfClient/WpfClient/bin
