<?xml version="1.0" encoding="utf-8"?>
<elementFramework>
  <instance>
     Oracle
    <database type="XData.Data.Objects.OracleDatabase,ElementFramework.Oracle">
      <connectionStringName type="System.String" value="OraConnection" />
      <databaseVersion type="System.String" value="1" />
    </database>

    <nameMap type="XData.Data.Objects.PrefixSuffixNameMap,ElementFramework">
      <nameMapConfig type="System.Xml.Linq.XElement" getter="nameMapConfigGetter" />
      <nameMapVersion type="System.String" value="2" />
    </nameMap>

    <nameMapConfigGetter type="XData.Data.Objects.FileNameMapConfigGetter,ElementFramework">
      <fileName type="System.String" value="map.config" />
    </nameMapConfigGetter>

    <databaseConfigGetter type="XData.Data.Objects.SequenceConfigGetter,ElementFramework">
      <format type="System.String" value="{0}_SEQ" />
    </databaseConfigGetter>

    <primaryConfigGetter type="XData.Data.Objects.FilePrimaryConfigGetter,ElementFramework">
      <configVersion type="System.String" value="3" />
      <fileName type="System.String" value="primary.config" />
    </primaryConfigGetter>

    <!--<namedConfigsGetter type="XData.Data.Objects.DirectoryNamedConfigsGetter,ElementFramework">
      <directory type="System.String" value="namedconfigs" />
    </namedConfigsGetter>-->
  </instance>
</elementFramework>