<div id="details">
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Role Name:</label>
        </div>
        <div class="col-sm-4">
            <p>{{RoleName}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">Display Name:</label>
        </div>
        <div class="col-sm-4">
            <p>{{DisplayName}}</p>
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Description:</label>
        </div>
        <div class="col-sm-10">
            <p>{{Descr}}</p>
        </div>
    </div>
</div>
