<?xml version="1.0" encoding="utf-8" ?>
<config>

  <authorization Route="/Admin/Roles|/Admin/Users|/Admin/Employees|/Admin/User" >
    <allow roles="administrators" />
    <deny users="*" />
  </authorization>

  <!--<authorization Route="/Admin/Roles|/Admin/Users" >
    <allow|deny roles="," [verbs=","] />
    <allow|deny users="," [verbs=","] />
    <allow|deny users="?" [verbs=","] />
    <allow|deny users="*" [verbs=","] />
  </authorization>-->

</config>