<?xml version="1.0" encoding="utf-8"?>
<Schema>
  
</Schema>
<!--<Schema ADSF="asdf">
  <Employees Set="SetOfEmployees" GHJK="ghjk">
    <Id DataType="datatype" A123="a123">
      <Sequence AEROU="aerou">
        <SequenceName QWER="qwer">Sequence-1234-Employees</SequenceName>
      </Sequence>
    </Id>
  </Employees>
  <Relationship From="Employees" To="Jobs" ABCD="abcd" Type="ManyToOne" Content="Employees(JobId),Jobs(Id)"/>
</Schema>-->