<?xml version="1.0" encoding="utf-8" ?>
<config>

  <!--Role-->
  <datasource Set="Roles" referrer="/Admin/Roles|/Admin/Roles/Index" select="Id,RoleName,DisplayName,Descr"
              filter="{{combine}}" orderby="{{sort}}" pageSize="{{pageSize}}" pageIndex="{{pageIndex}}">
    <var name="combine" type="dict">
      <pair key="1" value="contains(LoweredRoleName,'{{word.toLowerCase()}}') or contains(DisplayName,'{{word}}')" />
      <pair key="2" value="contains(LoweredRoleName,'{{word.toLowerCase()}}')" />
      <pair key="3" value="contains(DisplayName,'{{word}}')" />
    </var>
    <var name="sort" type="dict">
      <pair key="1" value="RoleName asc" />
      <pair key="2" value="RoleName desc" />
      <pair key="3" value="DisplayName asc" />
      <pair key="4" value="DisplayName desc" />
      <pair key="5" value="Id desc" />
    </var>
  </datasource>
  <datasource Set="Roles" referrer="/Admin/Roles/Create" select="RoleName,DisplayName,Descr" default="default" />
  <datasource Set="Roles" referrer="/Admin/Roles/Edit/{id}" select="Id,RoleName,DisplayName,Descr" filter="Id eq {{id}}"/>
  <datasource Set="Roles" referrer="/Admin/Roles/Delete/{id}|/Admin/Roles/Details/{id}" name="role" select="Id,RoleName,DisplayName,Descr" filter="Id eq {{id}}" />
  <datasource Set="RoleUsers" referrer="/Admin/Roles/Delete/{id}|/Admin/Roles/Details/{id}" name="users" select="UserName,Name,GenderName,Email,Mobile" filter="RoleId eq {{id}}" orderby="UserName asc" />

  <!--User-->
  <datasource Set="Users" referrer="/Admin/Users|/Admin/Users/Index" select="Id,UserName,IsDisabled,IsLockedOut,Name,GenderName,Tel,Email,Mobile"
              orderby="{{header}} {{updown}}" pageSize="{{pageSize}}" pageIndex="{{pageIndex}}">
    <var name="header" type="dict">
      <pair key="0" value="Id" />
      <pair key="1" value="UserName" />
      <pair key="2" value="Name" />
      <pair key="3" value="Gender" />
      <pair key="4" value="Tel" />
      <pair key="5" value="Mobile" />
      <pair key="6" value="Email" />
    </var>
    <var name="updown" type="dict">
      <pair key="0" value="asc" />
      <pair key="1" value="desc" />
    </var>
    <filter>
      <item value="(contains(UserName,'{{Name}}') or contains(Name,'{{Name}}'))" />
      <item value="Gender eq {{Gender}}" />
      <item value="(contains(Tel,'{{Contact}}') or contains(Mobile,'{{Contact}}') or contains(Email,'{{Contact}}'))" />
    </filter>
  </datasource>

  <datasource Set="Employees" referrer="/Admin/Users/Create" name="allEmployees" select="Id,Name,GenderName,Email,Mobile" orderby="Name asc" />

  <datasource Set="Users"
              referrer="/Admin/Users/Delete/{id}|/Admin/Users/Details/{id}|/Admin/Users/Enable/{id}|/Admin/Users/Disable/{id}|/Admin/Users/Unlock/{id}|/Admin/Users/SetPassword/{id}|/Admin/Users/SetUserName/{id}|/Admin/Users/GrantRoles/{id}"
              name="user" select="UserName,IsDisabled,IsLockedOut,Name,GenderName,Tel,Email,Mobile,Postcode,Addr,Comment,LastLoginDate,LastPasswordChangedDate,LastLockoutDate" filter="Id eq {{id}}" />
  <datasource Set="UserRoles" referrer="/Admin/Users/Delete/{id}|/Admin/Users/Details/{id}" name="roles" select="RoleName,DisplayName,Descr" filter="UserId eq {{id}}" orderby="RoleName asc" />

  <datasource Set="Roles" referrer="/Admin/Users/GrantRoles/{id}" name="allRoles" select="Id,RoleName,DisplayName" sort="Name asc">
    <field DataType="System.String" name="Name" expression="(DisplayName=='')?RoleName:DisplayName" />
  </datasource>
  <datasource Set="UserRoles" referrer="/Admin/Users/GrantRoles/{id}" name="roles" select="RoleId" filter="UserId eq {{id}}" orderby="RoleId asc" />

  <!--Employee-->
  <datasource Set="Employees" referrer="/Admin/Employees|/Admin/Employees/Index" select="Id,Name,GenderName,Birthdate,Email,Tel,Mobile"
              orderby="{{header}} {{updown}}" pageSize="{{pageSize}}" pageIndex="{{pageIndex}}">
    <var name="header" type="dict">
      <pair key="0" value="Id" />
      <pair key="1" value="Name" />
      <pair key="2" value="Gender" />
      <pair key="3" value="Birthdate" />
      <pair key="4" value="Tel" />
      <pair key="5" value="Mobile" />
      <pair key="6" value="Email" />
    </var>
    <var name="updown" type="dict">
      <pair key="0" value="asc" />
      <pair key="1" value="desc" />
    </var>
    <filter>
      <item value="contains(Name,'{{Name}}')" />
      <item value="Gender eq {{Gender}}" />
      <item value="(contains(Tel,'{{Contact}}') or contains(Mobile,'{{Contact}}') or contains(Email,'{{Contact}}'))" />
    </filter>
  </datasource>

  <datasource Set="Employees" referrer="/Admin/Employees|/Admin/Employees/Index" name="refresh" select="Id,Name,GenderName,Birthdate,Email,Tel,Mobile" filter="Id eq {{Id}}" />

  <datasource Set="Employees" referrer="/Admin/Employees|/Admin/Employees/Index" name="create" select="Id,Name,Gender,Birthdate,Email,Tel,Mobile,Addr,Postcode,Comment" default="default" />
  <datasource Set="Employees" referrer="/Admin/Employees|/Admin/Employees/Index" name="edit" select="Id,Name,Gender,Birthdate,Email,Tel,Mobile,Addr,Postcode,Comment" filter="Id eq {{Id}}"/>
  <datasource Set="Employees" referrer="/Admin/Employees|/Admin/Employees/Index" name="details" select="Id,Name,GenderName,Birthdate,Email,Tel,Mobile,Addr,Postcode,Comment" filter="Id eq {{Id}}" />

  <datasource Set="Users" referrer="/Admin/Employees|/Admin/Employees/Index" name="users" select="Id,UserName,IsDisabled,IsLockedOut">
    <filter>
      <item value="EmployeeId eq {{Id}}" />
    </filter>
  </datasource>

  <datasource Set="Users" referrer="/Admin/Employees|/Admin/Employees/Index" name="user_refresh" select="Id,UserName,IsDisabled,IsLockedOut" filter="Id eq {{Id}}" />

  <datasource Set="Users" referrer="/Admin/Employees|/Admin/Employees/Index" name="user_create" select="Id,UserName,IsDisabled" default="default" />
  <datasource Set="Users" referrer="/Admin/Employees|/Admin/Employees/Index" name="user_edit" select="Id,UserName,IsDisabled" filter="Id eq {{Id}}" />
  <datasource Set="Users" referrer="/Admin/Employees|/Admin/Employees/Index" name="user_details" select="Id,UserName,IsDisabled,IsLockedOut,LastLoginDate,LastPasswordChangedDate,LastLockoutDate" filter="Id eq {{Id}}" />

  <!--Dicts-->
  <datasource Set="Words" referrer="*" name="genders" select="Id,Name" filter="DictId eq 1" orderby="Ordinal asc" />

</config>
