<?xml version="1.0" encoding="utf-8" ?>
<config NameMapVersion="2">

  <DbLogEntry Table="DbLog" Set="DbLog">
  </DbLogEntry>

  <!--<User Table="Users" Set="Users">
    <Username Column="Username" />
    <CreationDate Column="CreationDate" />
  </User>

  <SecurityLogEntry Table="SecurityLog" Set="SecurityLog">
  </SecurityLogEntry>-->
</config>