<?xml version="1.0" encoding="utf-8"?>
<config ConfigVersion="3">

  <UserRole Set="UserRoles" Table="UsersRoles" PrimaryKey="UserId" TableType="View">
    <UserId DataType="System.Int32" />
    <RoleId DataType="System.Int32" />
    <LoweredUserName Element="User" Field="LoweredUserName" /> 
    <RoleName Element="Role" Field="RoleName" />
    <DisplayName Element="Role" Field="DisplayName" />
    <Descr Element="Role" Field="Descr" />
  </UserRole>

  <RoleUser Set="RoleUsers" Table="UsersRoles" PrimaryKey="RoleId" TableType="View">
    <UserId DataType="System.Int32" />
    <RoleId DataType="System.Int32" />
    <LoweredRoleName Element="Role" Field="LoweredRoleName" />
    <UserName Element="User" Field="UserName" />
    <Name Element="Employee" Field="Name" />
    <Gender Element="Employee" Field="Gender" />
    <GenderName Element="Word" Field="Name" ReferencePath.Content="RoleUser(UserId),User(Id);User(EmployeeId),Employee(Id);Employee(Gender),Word(Id)" />
    <Email Element="Employee" Field="Email" />
    <Tel Element="Employee" Field="Tel" />
    <Mobile Element="Employee" Field="Mobile" />
    <Addr Element="Employee" Field="Addr" />
    <Postcode Element="Employee" Field="Postcode" />
    <Comment Element="Employee" Field="Comment" />
  </RoleUser>

  <Relationship From="UsersRole" To="Role" Type="ManyToOne" Content="UsersRole(RoleId),Role(Id)"/>
  <Relationship From="UsersRole" To="User" Type="ManyToOne" Content="UsersRole(UserId),User(Id)"/>
  
  <Relationship From="UserRole" To="User" Type="ManyToOne" Content="UserRole(UserId),User(Id)"/>
  <Relationship From="UserRole" To="Role" Type="ManyToOne" Content="UserRole(RoleId),Role(Id)"/>
  
  <Relationship From="RoleUser" To="User" Type="ManyToOne" Content="RoleUser(UserId),User(Id)"/>
  <Relationship From="RoleUser" To="Role" Type="ManyToOne" Content="RoleUser(RoleId),Role(Id)"/>
  
  <Relationship From="User" To="Employee" Type="ManyToOne" Content="User(EmployeeId),Employee(Id)"/>
  <Relationship From="Word" To="Dict" Type="ManyToOne" Content="Word(DictId),Dict(Id)"/>

  <ReferencePath From="RoleUser" To="Employee" Content="RoleUser(UserId),User(Id);User(EmployeeId),Employee(Id)" />

  <Employee Set="Employees">
    <GenderName Element="Word" Field="Name" Relationship.Content="Employee(Gender),Word(Id)" />
  </Employee>

  <User Set="Users">
    <Id>
      <ReadOnly />
    </Id>
    <UserName>
      <ReadOnly />
    </UserName>
    <LoweredUserName>
      <ReadOnly />
    </LoweredUserName>
    <IsDisabled>
      <ReadOnly />
    </IsDisabled>
    <IsLockedOut>
      <ReadOnly />
    </IsLockedOut>
    <Name Element="Employee" Field="Name" />
    <Gender Element="Employee" Field="Gender" />
    <GenderName Element="Word" Field="Name" ReferencePath.Content="User(EmployeeId),Employee(Id);Employee(Gender),Word(Id)" />
    <Email Element="Employee" Field="Email" />
    <Tel Element="Employee" Field="Tel" />
    <Mobile Element="Employee" Field="Mobile" />
    <Addr Element="Employee" Field="Addr" />
    <Postcode Element="Employee" Field="Postcode" />
    <Comment Element="Employee" Field="Comment" />
  </User>

  <Role Set="Roles">
    <RoleName>
      <Required />
      <RegularExpression>
        <Pattern>\w+</Pattern>
      </RegularExpression>
    </RoleName>
  </Role>

  <Remove Element="User" Fields="Password,PasswordFormat,PasswordAlgorithm,PasswordSalt" />
  <Remove Element="InitialPassword" />

  <!--
  <Remove Element="User" />
  <Remove Element="User" Field="CreatedDate" />
  <Remove Element="User" Field="CreatedDate" Annotation="Required"/>

  <Remove Elements="User,Role" />
  <Remove Element="User" Fields="Name,CreatedDate" />
  <Remove Element="User" Field="CreationDate" Annotations="Required,DefaultValue"/>
  
  <Remove Relationship.Content="RoleUser(UserId),User(Id);User(EmployeeId),Employee(Id)" />
  <Remove Relationship.Content="RoleUser(UserId),User(Id);User(EmployeeId),Employee(Id)" Annotation="PrimeRelationship" />
  <Remove Relationship.Name="RoleUserToEmployee" />
  
  -->

</config>