<?xml version="1.0" encoding="utf-8" ?>
<configs>
  
  <config referrer="/Admin/Roles/Create|/Admin/Roles/Edit/{id}">
    <Role Set="Roles">
      <RoleName>
        <Required />
      </RoleName>
      <!--<CreatedDate>
        <DefaultValue>
          <Value>DateTime.Now</Value>
        </DefaultValue>
      </CreatedDate>-->
    </Role>
  </config>

 </configs>
