<?xml version="1.0" encoding="utf-8" ?>
<Schema Version="1.2.3" Name="Membership" NamedConfigVersion="4">
  <!--
  <Remove Element="User" />
  <Remove Element="User" Field="CreationDate" />
  <Remove Element="User" Field="CreationDate" Annotation="Required"/>

  <Remove Elements="User,Role" />
  <Remove Element="User" Fields="Name,CreationDate" />
  <Remove Element="User" Field="CreationDate" Annotations="Required,DefaultValue"/>
  
  <Remove Relationship.Content="UserRole(RoleId),Role(Id)" />
  <Remove Relationship.Content="UserRole(RoleId),Role(Id)" Annotation="PrimeRelationship" />
  <Remove Relationship.Name="" />
  
  <Remove ReferencePath.Content="" />
  <Remove ReferencePath.Name="" />
  -->

</Schema>