<div id="details">
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">User name:</label>
        </div>
        <div class="col-sm-4">
            <p>{{UserName}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">Name:</label>
        </div>
        <div class="col-sm-4">
            <p>{{Name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Gender:</label>
        </div>
        <div class="col-sm-4">
            <p>{{GenderName}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">Status:</label>
        </div>
        <div class="col-sm-4">
            <p>{{IsDisabled=='true'?'<span class="text-danger">Disabled</span>':'Enabled'}}&nbsp;&nbsp;{{IsLockedOut=='true'?'<span class="text-danger">Locked</span>':'Unlocked'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Tel:</label>
        </div>
        <div class="col-sm-4">
            <p>{{Tel}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">Mobile:</label>
        </div>
        <div class="col-sm-4">
            <p>{{Mobile}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Email:</label>
        </div>
        <div class="col-sm-4">
            <p>{{Email}}</p>
        </div>
        <div class="col-sm-2">
            <label class="pull-right">Postcode:</label>
        </div>
        <div class="col-sm-4">
            <p>{{Postcode}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Addr:</label>
        </div>
        <div class="col-sm-10">
            <p>{{Addr}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Last login:</label>
        </div>
        <div class="col-sm-3">
            <p>{{LastLoginDate}}</p>
        </div>
        <div class="col-sm-3">
            <label class="pull-right">Last pwd changed:</label>
        </div>
        <div class="col-sm-4">
            <p>{{LastPasswordChangedDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Last lockout:</label>
        </div>
        <div class="col-sm-4">
            <p>{{LastLockoutDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <label class="pull-right">Comment:</label>
        </div>
        <div class="col-sm-10">
            <p>{{Comment}}</p>
        </div>
    </div>
</div>
