
@{
    ViewBag.Title = "Disable";
}

<br />

<form method="post">
    <input class="btn btn-warning" type="submit" value="Disable" data-redirect-url="/Admin/Users/Index" />
    <input class="btn btn-info" type="button" value="Return" onclick="javascript:history.go(-1)" />

    <div data-plugin="backendErrorRenderer" class="col-sm-offset-1 text-danger">
    </div>
</form>

<hr />

@Html.Partial("_Details")


@section scripts
{
    <script>
        $(document).ready(function () {
            $.getJSON('/Data?name=user', {}, function (data, textStatus, jqXHR) {
                $('#details').renderer(data);
            });
        });
    </script>
}


