<div id="details_modal" class="modal fade" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="details_label" aria-hidden="true">
    <div style="min-width:824px" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="details_label">Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="pull-right">Name:</label>
                    </div>
                    <div class="col-sm-4">
                        <p>{{Name}}</p>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right">Gender:</label>
                    </div>
                    <div class="col-sm-4">
                        <p>{{GenderName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label class="pull-right">Birthdate:</label>
                    </div>
                    <div class="col-sm-4">
                        <p>{{Birthdate}}</p>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right">Email:</label>
                    </div>
                    <div class="col-sm-4">
                        <p>{{Email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label class="pull-right">Tel:</label>
                    </div>
                    <div class="col-sm-4">
                        <p>{{Tel}}</p>
                    </div>
                    <div class="col-sm-2">
                        <label class="pull-right">Mobile:</label>
                    </div>
                    <div class="col-sm-4">
                        <p>{{Mobile}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label class="pull-right">Addr:</label>
                    </div>
                    <div class="col-sm-10">
                        <p>{{Addr}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label class="pull-right">Postcode:</label>
                    </div>
                    <div class="col-sm-4">
                        <p>{{Postcode}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label class="pull-right">Comment:</label>
                    </div>
                    <div class="col-sm-10">
                        <p>{{Comment}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
